@import "~@fortawesome/fontawesome-free/css/all.css";
.overrides_IndexTop .slick-slider {
  line-height: 0;
}
.overrides_IndexTop .slick-slider .slick-dots {
  position: absolute;
  width: 100%;
  bottom: 0px;
  right: 0;
  max-width: 180px;
  margin-left: auto;
  margin-right: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.overrides_IndexTop .slick-slider .slick-dots li {
  margin: 12px;
}
.overrides_IndexTop .slick-slider .slick-dots li button {
  border: 2px solid white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.overrides_IndexTop .slick-slider .slick-dots li button::before {
  font-size: 22px;
  color: white;
  position: absolute;
  top: 3px;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.overrides_IndexTop .slick-slider .slick-dots li button:hover::before {
  color: rgb(148, 148, 148);
}
.overrides_IndexTop .slick-slider .slick-dots .slick-active button::before {
  color: #246c52;
}
.overrides_IndexTop .slick-slider .slick-dots .slick-active button:hover::before {
  color: #246c52;
}
.overrides_IndexTop .slick-slider .slick-prev {
  left: 0% !important;
  z-index: 1;
  width: 100%;
  height: 99.5%;
  top: 0;
  max-width: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translate(0, 0);
  transition: 0.5s ease-in-out;
}
.overrides_IndexTop .slick-slider .slick-prev:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.overrides_IndexTop .slick-slider .slick-prev::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0d9";
  font-weight: 900;
  font-size: 50px;
}
.overrides_IndexTop .slick-slider .slick-disabled {
  pointer-events: none !important;
}
.overrides_IndexTop .slick-slider .slick-next {
  right: 0% !important;
  z-index: 1;
  width: 100%;
  height: 99.5%;
  top: 0;
  max-width: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translate(0, 0);
  transition: 0.5s ease-in-out;
}
.overrides_IndexTop .slick-slider .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.overrides_IndexTop .slick-slider .slick-next::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  font-weight: 900;
  font-size: 50px;
}

@media all and (max-width: 1995px) {
  .overrides_IndexTop .slick-slider .slick-next,
  .overrides_IndexTop .slick-slider .slick-prev {
    height: 99.4%;
  }
}
@media all and (max-width: 991px) {
  .overrides_IndexTop .slick-slider .slick-next,
  .overrides_IndexTop .slick-slider .slick-prev {
    height: 99.2%;
  }
  .overrides_IndexTop .slick-slider .slick-dots {
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  .fade-in-fix {
    transform: translateY(0) translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-up-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
@media all and (max-width: 768px) {
  .overrides_IndexTop .slick-slider .slick-next,
  .overrides_IndexTop .slick-slider .slick-prev {
    height: 99.1%;
    max-width: 40px;
  }
  .overrides_IndexTop .slick-slider .slick-next::before,
  .overrides_IndexTop .slick-slider .slick-prev::before {
    font-size: 32px;
  }
  .overrides_IndexTop .slick-slider .slick-dots {
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  .fade-in-fix {
    transform: translateY(0) translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-up-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
@media all and (max-width: 419px) {
  .overrides_IndexTop .slick-slider .slick-dots {
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  .overrides_IndexTop .slick-slider .slick-dots li {
    margin: 7px;
  }
  .fade-in-fix {
    transform: translateY(0) translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-up-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .overrides_IndexTop .slick-slider .slick-next,
  .overrides_IndexTop .slick-slider .slick-prev {
    height: 98.5%;
    max-width: 35px;
  }
  .overrides_IndexTop .slick-slider .slick-next::before,
  .overrides_IndexTop .slick-slider .slick-prev::before {
    font-size: 32px;
  }
  .overrides_IndexTop .slick-slider .slick-dots {
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  .overrides_IndexTop .slick-slider .slick-dots li {
    margin: 7px;
  }
  .fade-in-fix {
    transform: translateY(0) translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-up-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .overrides_IndexTop .slick-slider .slick-next,
  .overrides_IndexTop .slick-slider .slick-prev {
    height: 99%;
    max-width: 55px;
  }
  .overrides_IndexTop .slick-slider .slick-next::before,
  .overrides_IndexTop .slick-slider .slick-prev::before {
    font-size: 32px;
  }
  .overrides_IndexTop .slick-slider .slick-dots {
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  .fade-in-fix {
    transform: translateY(0) translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-up-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .fade-in-fix {
    transform: translateY(0) translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-up-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .overrides_IndexTop .slick-slider .slick-next,
  .overrides_IndexTop .slick-slider .slick-prev {
    height: 99%;
    max-width: 55px;
  }
  .overrides_IndexTop .slick-slider .slick-next::before,
  .overrides_IndexTop .slick-slider .slick-prev::before {
    font-size: 32px;
  }
  .overrides_IndexTop .slick-slider .slick-dots {
    margin-left: auto;
    margin-right: 90px;
    left: auto;
    right: 0;
    transform: none;
  }
  .fade-in-fix {
    transform: translateY(0) translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-up-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .overrides_IndexTop .slick-slider .slick-next,
  .overrides_IndexTop .slick-slider .slick-prev {
    height: 99%;
    max-width: 55px;
  }
  .overrides_IndexTop .slick-slider .slick-next::before,
  .overrides_IndexTop .slick-slider .slick-prev::before {
    font-size: 32px;
  }
  .overrides_IndexTop .slick-slider .slick-dots {
    margin-left: auto;
    margin-right: 90px;
    left: auto;
    right: 0;
    transform: none;
  }
}/*# sourceMappingURL=overrides.css.map */